@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Heavy.eot");
  src: url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova Rg", "Roboto", "Arial", sans-serif;
  color: #333;
  background-color: #272727;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  color: #fff;
}
.header.parallax_head {
  background-image: url("../img/header-parallax.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__logo-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  font-weight: bold;
  font-size: 22px;
}
.header__nav {
  font-family: "Futura PT", "Arial", sans-serif;
  padding: 40px 95px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__menu {
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
}
.header__nav__menu-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  padding: 10px;
  margin-right: 15px;
  border: none;
  border-radius: 4px;
  transition-duration: 0.5s;
}
.header__nav__menu-link:hover {
  background-color: #fff;
  color: black;
}
.header__nav #menu-open {
  color: #272727;
  font-size: 27px;
  display: none;
  cursor: pointer;
}
.header__nav #menu-close {
  color: #fff;
  font-size: 27px;
  cursor: pointer;
  display: none;
}
.header__tag-container {
  padding: 240px 110px;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 50px;
}
.header__tagline {
  text-transform: uppercase;
  font-size: 82px;
  margin-bottom: 55px;
  font-family: "Futura PT", "Arial", sans-serif;
}
.header__tagline-mini {
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
}
.header__page-scroller {
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .header {
    position: relative;
  }
  .header__nav {
    background-color: #fff;
    padding: 20px 55px;
  }
  .header__nav__menu {
    display: none;
    background-color: #3c342f;
    min-height: 100%;
    min-width: 100%;
    align-items: flex-start;
    padding-top: 50px;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
  }
  .header__nav__menu-link {
    font-size: 18px;
    font-family: "Proxima Nova Rg", "Roboto", "Arial", sans-serif;
  }
  .header__nav__menu-item {
    margin-bottom: 60px;
  }
  .header__nav__menu.active {
    display: flex;
  }
  .header__nav-wrap {
    padding: 0;
  }
  .header__logo-link {
    color: #272727;
  }
  .header #menu-open {
    display: block;
    font-weight: lighter;
  }
  .header #menu-close {
    position: absolute;
    right: 20px;
    display: block;
    padding: 10px;
    top: 20px;
    font-weight: lighter;
  }
}
#caret-down-large-icon {
  width: 48px;
  height: 23px;
}

.caret-down-large-icon_line {
  stroke-width: 2;
  stroke: #fff;
  fill: transparent;
  line-height: 0;
}

.main {
  background-color: #fff;
}
.main__destination-container {
  margin: 0 auto;
  padding: 150px 100px;
}
.main__destination-title {
  font-family: "Futura PT", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
}
.main__destination-text {
  color: #737373;
  font-size: 24px;
  line-height: 36px;
  max-width: 745px;
  text-align: center;
  margin: 0 auto;
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
}
.main__eatTogether.parallax__main-first {
  background-image: url("../img/main__first-parallax.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__eatTogether-container {
  padding: 250px 100px;
  text-align: center;
}
.main__eatTogether-title {
  font-size: 82px;
  color: #fff;
  font-family: "Futura PT", "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 55px;
  margin-top: 55px;
}
.main__eatTogether-text {
  font-size: 24px;
  line-height: 36px;
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}
.main__eatTogether-reserv {
  display: block;
  width: 296px;
  margin: 0 auto;
  text-align: center;
  font-family: "Proxima Nova Rg", "Roboto", "Arial", sans-serif;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  font-size: 20px;
  text-transform: uppercase;
  transition-duration: 0.25s;
  padding: 13px 26px;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
}
.main__eatTogether-reserv:hover {
  background-color: #fff;
  color: #272727;
}
.main__menuDescription {
  background-color: #fff;
  padding: 120px 0;
}
.main__menuDescription__img {
  width: 33%;
  height: 33%;
  padding: 12px;
}
.main__menuDescription__img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.main__menuDescription__descrip-container {
  display: flex;
  justify-content: space-around;
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #737373;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.main__menuDescription__descrip-first, .main__menuDescription__descrip-second, .main__menuDescription__descrip-third, .main__menuDescription__descrip-fourth {
  width: 603px;
}
.main__menuDescription-first, .main__menuDescription-third, .main__menuDescription-fourth, .main__menuDescription-second {
  margin-bottom: 18px;
}
.main__menuDescription__viewMenu {
  display: block;
  width: 184px;
  text-align: center;
  margin: 0 auto;
  padding: 21px 34px;
  border: 2px solid #272727;
  background-color: transparent;
  text-decoration: none;
  border-radius: 30px;
  transition-duration: 0.3s;
  text-transform: uppercase;
  color: #272727;
  font-family: "Proxima Nova Rg", "Roboto", "Arial", sans-serif;
  font-size: 16px;
}
.main__menuDescription__viewMenu:hover {
  background-color: #272727;
  color: #fff;
}
.main__kitchen-parallax {
  background-image: url("../img/main__second-parallax.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__kitchen-title {
  font-family: "Futura PT", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 82px;
  text-align: center;
  color: #fff;
  padding: 440px 350px;
}
.main__kitchen__img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main__kitchen__img-1 {
  min-width: 45%;
  min-height: 403px;
  background-image: url("../img/main__kitchen-cooks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
.main__kitchen__img-2 {
  min-width: 45%;
  min-height: 403px;
  background-image: url("../img/main__kitchen-cooks2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__kitchen__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.main__kitchen-cooks {
  padding: 150px 100px;
}
.main__kitchen-cookCard {
  max-width: 390px;
  padding: 20px;
}
.main__kitchen-cookCard-title {
  font-family: "Futura PT", "Arial", sans-serif;
  color: #272727;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}
.main__kitchen-cookCard-job {
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #737373;
}
.main__kitchen-cookCard-descrip {
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #737373;
  margin-top: 20px;
}

.footer {
  background-color: #3c342f;
  padding: 50px 100px;
}
.footer__nav-socials {
  display: flex;
  margin-left: 90px;
  margin-right: 90px;
  justify-content: start;
  margin-bottom: 25px;
}
.footer__nav-socials__link {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  transition-duration: 0.25s;
  opacity: 0.5;
}
.footer__nav-socials__link:hover {
  opacity: 1;
}
.footer__twoTitles {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 50px;
}
.footer__twoTitles-title {
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}
.footer__twoTitles-title.hours {
  margin-right: 80px;
}
.footer__descrip-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  margin: 0 90px;
  font-family: "Proxima Nova Rg", "Roboto", "Arial", sans-serif;
}
.footer__address {
  display: flex;
  flex-wrap: wrap;
}
.footer__address-card {
  margin-right: 40px;
  margin-bottom: 40px;
}
.footer__address-card-city {
  font-style: italic;
}
.footer__hours-title {
  display: none;
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__hours-weekdays-days {
  font-style: italic;
}
.footer__hours-weekend-days {
  font-style: italic;
}

@media screen and (max-width: 1260px) {
  .footer__twoTitles-title.hours {
    display: none;
  }
  .footer__hours-title {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
