@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Heavy.eot");
  src: url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova Rg", "Roboto", "Arial", sans-serif;
  color: #333;
  background-color: #272727;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  min-height: 60vh;
  color: #fff;
}
.header.parallax_head {
  background-image: url("../img/main__first-parallax.jpg");
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__logo-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  font-weight: bold;
  font-size: 22px;
}
.header__nav {
  font-family: "Futura PT", "Arial", sans-serif;
  padding: 40px 95px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__menu {
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
}
.header__nav__menu-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  padding: 10px;
  margin-right: 15px;
  border: none;
  border-radius: 4px;
  transition-duration: 0.5s;
}
.header__nav__menu-link:hover {
  background-color: #fff;
  color: black;
}
.header__nav #menu-open {
  color: #272727;
  font-size: 27px;
  display: none;
  cursor: pointer;
}
.header__nav #menu-close {
  color: #fff;
  font-size: 27px;
  cursor: pointer;
  display: none;
}
.header__tag-container {
  padding: 140px 110px;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 40px;
}
.header__tagline {
  text-transform: uppercase;
  font-size: 82px;
  margin-bottom: 55px;
  font-family: "Futura PT", "Arial", sans-serif;
}

.main {
  background-color: #fff;
}
.main__news {
  padding: 100px;
}
.main__news-item {
  text-align: center;
  margin-bottom: 90px;
}
.main__news-item:last-child {
  margin-bottom: 0;
}
.main__news-item:last-child hr {
  display: none;
}
.main__news hr {
  background-color: #ccc;
  height: 1px;
  width: 50%;
}
.main__news-image {
  width: 800px;
  height: 533px;
  background-image: url(../img/main__geoFood-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.main__news-date {
  font-size: 10px;
  font-family: "Futura PT", "Arial", sans-serif;
  color: #737373;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main__news-title {
  display: block;
  font-size: 18px;
  font-family: "Futura PT", "Arial", sans-serif;
  color: #272727;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main__news-text {
  font-size: 15px;
  line-height: 24px;
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media screen and (max-width: 860px) {
  .header {
    position: relative;
  }
  .header__nav {
    background-color: #fff;
    padding: 20px 55px;
  }
  .header__nav__menu {
    display: none;
    background-color: #3c342f;
    min-height: 100%;
    min-width: 100%;
    align-items: flex-start;
    padding-top: 50px;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
  }
  .header__nav__menu-link {
    font-size: 18px;
    font-family: "Proxima Nova Rg", "Roboto", "Arial", sans-serif;
  }
  .header__nav__menu-item {
    margin-bottom: 60px;
  }
  .header__nav__menu.active {
    display: flex;
  }
  .header__nav-wrap {
    padding: 0;
  }
  .header__logo-link {
    color: #272727;
  }
  .header #menu-open {
    display: block;
    font-weight: lighter;
  }
  .header #menu-close {
    position: absolute;
    right: 20px;
    display: block;
    padding: 10px;
    top: 20px;
    font-weight: lighter;
  }
}
.footer {
  background-color: #3c342f;
  padding: 50px 100px;
}
.footer__nav-socials {
  display: flex;
  margin-left: 90px;
  margin-right: 90px;
  justify-content: start;
  margin-bottom: 25px;
}
.footer__nav-socials__link {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  transition-duration: 0.25s;
  opacity: 0.5;
}
.footer__nav-socials__link:hover {
  opacity: 1;
}
.footer__twoTitles {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 50px;
}
.footer__twoTitles-title {
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}
.footer__twoTitles-title.hours {
  margin-right: 80px;
}
.footer__descrip-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  margin: 0 90px;
  font-family: "Proxima Nova Rg", "Roboto", "Arial", sans-serif;
}
.footer__address {
  display: flex;
  flex-wrap: wrap;
}
.footer__address-card {
  margin-right: 40px;
  margin-bottom: 40px;
}
.footer__address-card-city {
  font-style: italic;
}
.footer__hours-title {
  display: none;
  font-family: "Proxima Nova Lt", "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__hours-weekdays-days {
  font-style: italic;
}
.footer__hours-weekend-days {
  font-style: italic;
}

@media screen and (max-width: 1260px) {
  .footer__twoTitles-title.hours {
    display: none;
  }
  .footer__hours-title {
    display: block;
  }
}

/*# sourceMappingURL=news.css.map */
