$black: #272727;
$textColor: #333;
$textColor-light: #737373;
$brown: #3c342f;
$logoColor: #565626;
$titleFont:  'Futura PT', 'Arial', sans-serif;
$regFont: 'Proxima Nova Rg', 'Roboto', 'Arial', sans-serif;
$ltFont: 'Proxima Nova Lt', 'Roboto', 'Arial', sans-serif;