@import "./variables";
@import "./fonts";
* {
  box-sizing: border-box;
}

body {
  font-family: $regFont;
  color: $textColor;
  background-color: $black;
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  min-height: 60vh;
  color: #fff;
  &.parallax_head {
    background-image: url("../img/image-asset.jpeg");
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__logo-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    opacity: 1;
    font-weight: bold;
    font-size: 22px;
  }
  &__nav {
    font-family: $titleFont;
    padding: 40px 95px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
      display: flex;
      align-items: center;
      transition-duration: 0.5s;
      &-link {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        padding: 10px;
        margin-right: 15px;
        border: none;
        border-radius: 4px;
        transition-duration: 0.5s;
        &:hover {
          background-color: #fff;
          color: black;
        }
      }
    }
    #menu-open {
      color: $black;
      font-size: 27px;
      display: none;
      cursor: pointer;
    }
    #menu-close {
      color: #fff;
      font-size: 27px;
      cursor: pointer;
      display: none;
    }
  }
  &__tag-container {
    padding: 140px 110px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 40px;
  }
  &__tagline {
    text-transform: uppercase;
    font-size: 82px;
    margin-bottom: 55px;
    font-family: $titleFont;
  }
  &__tagline-mini {
    font-family: $ltFont;
    font-size: 24px;
    line-height: 34px;
  }
}
@media screen and (max-width: 860px) {
  .header {
    position: relative;
    &__nav {
      background-color: #fff;
      padding: 20px 55px;
      &__menu {
        display: none;
        background-color: $brown;
        min-height: 100%;
        min-width: 100%;
        align-items: flex-start;
        padding-top: 50px;
        position: absolute;
        flex-direction: column;
        top: 0;
        left: 0;
        &-link {
          font-size: 18px;
          font-family: $regFont;
        }
        &-item {
          margin-bottom: 60px;
        }
        &.active {
          display: flex;
        }
      }
      &-wrap {
        padding: 0;
      }
    }
    &__logo-link {
      color: $black;
    }
    #menu-open {
      display: block;
      font-weight: lighter;
    }
    #menu-close {
      position: absolute;
      right: 20px;
      display: block;
      padding: 10px;
      top: 20px;
      font-weight: lighter;
    }
  }
}
.main {
  background-color: #fff;
  padding: 100px;
  font-size: 18px;
  line-height: 27px;
  font-family: $ltFont;
  color: $textColor-light;
  &__addreses {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    &__card {
      padding: 0 17px 17px 17px;
      &-city {
        font-family: $titleFont;
        color: $black;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }
  }
  &__contactUs {
    display: flex;
    justify-content: space-around;
    &__straight-connect {
      &-card {
        padding: 17px;
        margin-bottom: 104px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-title {
        font-family: $titleFont;
        color: $black;
        font-size: 24px;
        line-height: 34px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      &-email {
        color: #d88518;
        font-family: $regFont;
      }
    }
    &__side-connect {
      width: 808px;
      & p {
        padding: 17px;
      }
      &__form {
        padding: 17px;
        width: 100%;
        &-names {
          display: flex;
          justify-content: space-between;
          margin-bottom: 24px;
        }
        &-names label {
          font-size: 12px;
          width: 48%;
        }
        &-email,
        &-subject,
        &-message {
          margin-bottom: 24px;
        }
        &-message textarea {
          height: 100px;
          resize: vertical;
        }
        .field {
          width: 100%;
          display: block;
          border: 1px solid #ccc;
          background-color: #fafafa;
          padding: 12px;
          border-radius: 2px;
          margin: 6px 0 4px;
          font-size: 14px;
        }
        .form-btn{
            font-family: $titleFont;
            font-size: 14px;
            color: #fff;
            background-color: $black;
            padding: 14px 35px;
            border: none;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            cursor: pointer;
            transition-duration: 0.3s;
            &:hover{
                opacity: 0.8;
            }
        }
      }
    }
  }
}
.footer {
  background-color: $brown;
  padding: 50px 100px;
  &__nav-socials {
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    justify-content: start;
    margin-bottom: 25px;
    &__link {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 50%;
      transition-duration: 0.25s;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__twoTitles {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
    &-title {
      font-family: $ltFont;
      font-size: 24px;
      line-height: 36px;
      color: #fff;
      text-transform: uppercase;
      &.hours {
        margin-right: 80px;
      }
    }
  }
  &__descrip-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    margin: 0 90px;
    font-family: $regFont;
  }
  &__address {
    display: flex;
    flex-wrap: wrap;
    &-card {
      margin-right: 40px;
      margin-bottom: 40px;
      &-city {
        font-style: italic;
      }
    }
  }
  &__hours {
    &-title {
      display: none;
      font-family: $ltFont;
      font-size: 24px;
      line-height: 36px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &-weekdays-days {
      font-style: italic;
    }
    &-weekend-days {
      font-style: italic;
    }
  }
}
@media screen and (max-width: 1260px) {
  .footer {
    &__twoTitles-title.hours {
      display: none;
    }
    &__hours-title {
      display: block;
    }
  }
}
