@import "./variables";
@import "./fonts";
* {
  box-sizing: border-box;
}

body {
  font-family: $regFont;
  color: $textColor;
  background-color: $black;
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  min-height: 100vh;
  color: #fff;
  &.parallax_head {
    background-image: url("../img/header-parallax.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__logo-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    opacity: 1;
    font-weight: bold;
    font-size: 22px;
  }
  &__nav {
    font-family: $titleFont;
    padding: 40px 95px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
      display: flex;
      align-items: center;
      transition-duration: 0.5s;
      &-link {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        padding: 10px;
        margin-right: 15px;
        border: none;
        border-radius: 4px;
        transition-duration: 0.5s;
        &:hover {
          background-color: #fff;
          color: black;
        }
      }
    }
    #menu-open {
      color: $black;
      font-size: 27px;
      display: none;
      cursor: pointer;
    }
    #menu-close {
      color: #fff;
      font-size: 27px;
      cursor: pointer;
      display: none;
    }
  }
  &__tag-container {
    padding: 240px 110px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 50px;
  }
  &__tagline {
    text-transform: uppercase;
    font-size: 82px;
    margin-bottom: 55px;
    font-family: $titleFont;
  }
  &__tagline-mini {
    font-family: $ltFont;
    font-size: 24px;
    line-height: 34px;
  }
  &__page-scroller {
    text-align: center;
    cursor: pointer;
  }
}
@media screen and (max-width: 860px) {
  .header {
    position: relative;
    &__nav {
      background-color: #fff;
      padding: 20px 55px;
      &__menu {
        display: none;
        background-color: $brown;
        min-height: 100%;
        min-width: 100%;
        align-items: flex-start;
        padding-top: 50px;
        position: absolute;
        flex-direction: column;
        top: 0;
        left: 0;
        &-link {
          font-size: 18px;
          font-family: $regFont;
        }
        &-item {
          margin-bottom: 60px;
        }
        &.active {
          display: flex;
        }
      }
      &-wrap {
        padding: 0;
      }
    }
    &__logo-link {
      color: $black;
    }
    #menu-open {
      display: block;
      font-weight: lighter;
    }
    #menu-close {
      position: absolute;
      right: 20px;
      display: block;
      padding: 10px;
      top: 20px;
      font-weight: lighter;
    }
  }
}
#caret-down-large-icon {
  width: 48px;
  height: 23px;
}
.caret-down-large-icon_line {
  stroke-width: 2;
  stroke: #fff;
  fill: transparent;
  line-height: 0;
}
.main {
  background-color: #fff;
  &__destination {
    &-container {
      margin: 0 auto;
      padding: 150px 100px;
    }
    &-title {
      font-family: $titleFont;
      text-align: center;
      text-transform: uppercase;
      color: $textColor;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 20px;
    }
    &-text {
      color: $textColor-light;
      font-size: 24px;
      line-height: 36px;
      max-width: 745px;
      text-align: center;
      margin: 0 auto;
      font-family: $ltFont;
    }
  }
  &__eatTogether {
    &.parallax__main-first {
      background-image: url("../img/main__first-parallax.jpg");
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-container {
      padding: 250px 100px;
      text-align: center;
    }
    &-title {
      font-size: 82px;
      color: #fff;
      font-family: $titleFont;
      text-transform: uppercase;
      margin-bottom: 55px;
      margin-top: 55px;
    }
    &-text {
      font-size: 24px;
      line-height: 36px;
      font-family: $ltFont;
      color: #fff;
      margin-bottom: 20px;
    }
    &-reserv {
      display: block;
      width: 296px;
      margin: 0 auto;
      text-align: center;
      font-family: $regFont;
      color: #fff;
      border: 2px solid #fff;
      background-color: transparent;
      font-size: 20px;
      text-transform: uppercase;
      transition-duration: 0.25s;
      padding: 13px 26px;
      border-radius: 30px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: #fff;
        color: $black;
      }
    }
  }
  &__menuDescription {
    background-color: #fff;
    padding: 120px 0;
    &__img {
      width: 33%;
      height: 33%;
      padding: 12px;
    }
    &__img-container {
      display: flex;
      justify-content: center;
      margin-bottom: 90px;
    }
    &__descrip-container {
      display: flex;
      justify-content: space-around;
      font-family: $ltFont;
      font-size: 18px;
      line-height: 27px;
      color: $textColor-light;
      margin-bottom: 40px;
      flex-wrap: wrap;
    }
    &__descrip-first,
    &__descrip-second,
    &__descrip-third,
    &__descrip-fourth {
      width: 603px;
    }
    &-first,
    &-third,
    &-fourth,
    &-second {
      margin-bottom: 18px;
    }
    &__viewMenu {
      display: block;
      width: 184px;
      text-align: center;
      margin: 0 auto;
      padding: 21px 34px;
      border: 2px solid $black;
      background-color: transparent;
      text-decoration: none;
      border-radius: 30px;
      transition-duration: 0.3s;
      text-transform: uppercase;
      color: $black;
      font-family: $regFont;
      font-size: 16px;
      &:hover {
        background-color: $black;
        color: #fff;
      }
    }
  }
  &__kitchen {
    &-parallax {
      background-image: url("../img/main__second-parallax.jpg");
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-title {
      font-family: $titleFont;
      text-transform: uppercase;
      font-size: 82px;
      text-align: center;
      color: #fff;
      padding: 440px 350px;
    }
    &__img {
      &-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      &-1 {
        min-width: 45%;
        min-height: 403px;
        background-image: url("../img/main__kitchen-cooks.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
      }
      &-2 {
        min-width: 45%;
        min-height: 403px;
        background-image: url("../img/main__kitchen-cooks2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &__container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
    &-cooks {
      padding: 150px 100px;
    }
    &-cookCard {
      max-width: 390px;
      padding: 20px;
      &-title {
        font-family: $titleFont;
        color: $black;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
      }
      &-job {
        font-family: $ltFont;
        font-size: 18px;
        line-height: 27px;
        color: $textColor-light;
      }
      &-descrip {
        font-family: $ltFont;
        font-size: 18px;
        line-height: 27px;
        color: $textColor-light;
        margin-top: 20px;
      }
    }
  }
}
.footer {
  background-color: $brown;
  padding: 50px 100px;
  &__nav-socials {
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    justify-content: start;
    margin-bottom: 25px;
    &__link {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 50%;
      transition-duration: 0.25s;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__twoTitles {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
    &-title {
      font-family: $ltFont;
      font-size: 24px;
      line-height: 36px;
      color: #fff;
      text-transform: uppercase;
      &.hours {
        margin-right: 80px;
      }
    }
  }
  &__descrip-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    margin: 0 90px;
    font-family: $regFont;
  }
  &__address {
    display: flex;
    flex-wrap: wrap;
    &-card {
      margin-right: 40px;
      margin-bottom: 40px;
      &-city {
        font-style: italic;
      }
    }
  }
  &__hours {
    &-title {
      display: none;
      font-family: $ltFont;
      font-size: 24px;
      line-height: 36px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &-weekdays-days {
      font-style: italic;
    }
    &-weekend-days {
      font-style: italic;
    }
  }
}
@media screen and (max-width: 1260px){
  .footer{
    &__twoTitles-title.hours{
      display: none;
    }
    &__hours-title{
      display: block;
    }
  }
}
