@import "./variables";
@import "./fonts";
* {
  box-sizing: border-box;
}

body {
  font-family: $regFont;
  color: $textColor;
  background-color: $black;
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  min-height: 60vh;
  color: #fff;
  &.parallax_head {
    background-image: url("../img/main__first-parallax.jpg");
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__logo-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    opacity: 1;
    font-weight: bold;
    font-size: 22px;
  }
  &__nav {
    font-family: $titleFont;
    padding: 40px 95px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
      display: flex;
      align-items: center;
      transition-duration: 0.5s;
      &-link {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        padding: 10px;
        margin-right: 15px;
        border: none;
        border-radius: 4px;
        transition-duration: 0.5s;
        &:hover {
          background-color: #fff;
          color: black;
        }
      }
    }
    #menu-open {
      color: $black;
      font-size: 27px;
      display: none;
      cursor: pointer;
    }
    #menu-close {
      color: #fff;
      font-size: 27px;
      cursor: pointer;
      display: none;
    }
  }
  &__tag-container {
    padding: 140px 110px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 40px;
  }
  &__tagline {
    text-transform: uppercase;
    font-size: 82px;
    margin-bottom: 55px;
    font-family: $titleFont;
  }
}
.main{
    background-color: #fff;
    &__news{
        padding: 100px;
        &-item{
            text-align: center;
            margin-bottom: 90px;
            &:last-child{
                margin-bottom: 0;
                & hr{
                    display: none;
                }
            }
        }
        & hr {
            background-color: #ccc;
            height: 1px;
            width: 50%;
        }
        &-image{
            width: 800px;
            height: 533px;
            background-image: url(../img/main__geoFood-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &-date{
            font-size: 10px;
            font-family: $titleFont;
            color: $textColor-light;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        &-title{
            display: block;
            font-size: 18px;
            font-family: $titleFont;
            color: $black;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        &-text{
            font-size: 15px;
            line-height: 24px;
            font-family: $ltFont;
            max-width: 700px;
            margin: 0 auto;
            margin-bottom: 60px;
        }
    }
}
@media screen and (max-width: 860px) {
  .header {
    position: relative;
    &__nav {
      background-color: #fff;
      padding: 20px 55px;
      &__menu {
        display: none;
        background-color: $brown;
        min-height: 100%;
        min-width: 100%;
        align-items: flex-start;
        padding-top: 50px;
        position: absolute;
        flex-direction: column;
        top: 0;
        left: 0;
        &-link {
          font-size: 18px;
          font-family: $regFont;
        }
        &-item {
          margin-bottom: 60px;
        }
        &.active {
          display: flex;
        }
      }
      &-wrap {
        padding: 0;
      }
    }
    &__logo-link {
      color: $black;
    }
    #menu-open {
      display: block;
      font-weight: lighter;
    }
    #menu-close {
      position: absolute;
      right: 20px;
      display: block;
      padding: 10px;
      top: 20px;
      font-weight: lighter;
    }
  }
}

.footer {
    background-color: $brown;
    padding: 50px 100px;
    &__nav-socials {
      display: flex;
      margin-left: 90px;
      margin-right: 90px;
      justify-content: start;
      margin-bottom: 25px;
      &__link {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border-radius: 50%;
        transition-duration: 0.25s;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
    &__twoTitles {
      display: flex;
      justify-content: space-between;
      margin-left: 90px;
      margin-right: 90px;
      margin-bottom: 50px;
      &-title {
        font-family: $ltFont;
        font-size: 24px;
        line-height: 36px;
        color: #fff;
        text-transform: uppercase;
        &.hours {
          margin-right: 80px;
        }
      }
    }
    &__descrip-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: #fff;
      font-size: 18px;
      line-height: 27px;
      margin: 0 90px;
      font-family: $regFont;
    }
    &__address {
      display: flex;
      flex-wrap: wrap;
      &-card {
        margin-right: 40px;
        margin-bottom: 40px;
        &-city {
          font-style: italic;
        }
      }
    }
    &__hours {
      &-title {
        display: none;
        font-family: $ltFont;
        font-size: 24px;
        line-height: 36px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      &-weekdays-days {
        font-style: italic;
      }
      &-weekend-days {
        font-style: italic;
      }
    }
  }
  @media screen and (max-width: 1260px) {
    .footer {
      &__twoTitles-title.hours {
        display: none;
      }
      &__hours-title {
        display: block;
      }
    }
  }
  